# /etc/systemd/system/test-scraper.timer
[Unit]
Description=Run test-scraper.service every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=23h
AccuracySec=1min
Unit=test-scraper.service

[Install]
WantedBy=timers.target