aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
discord.py==1.7.3
emoji==1.2.0
idna==2.10
multidict==5.1.0
python-dotenv==0.17.0
soupsieve==2.2.1
tinydb==4.4.0
typing-extensions==3.7.4.3
urllib3==1.26.5
yarl==1.6.3
dislash.py==1.0.17
discord.py[voice]==1.7.3
pynacl==1.4.0
