# /etc/systemd/system/prod-plotter.service
[Unit]
Description=Prod - Discord Bot - Plotter Service

[Service]
Type=oneshot
WorkingDirectory=/opt/projects/discord-bot/stages/prod
ExecStart=/usr/bin/docker compose -f /opt/projects/discord-bot/stages/prod/docker-compose.plotting.yaml up -d
# Avoid parallel runs:
ExecStartPre=/usr/bin/flock -n /var/lock/prod-scraper.lock -c "echo locked"