# This is a basic workflow to help you get started with Actions

name: Deploy QA

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    # The type of runner that the job will run on
    runs-on: boty-qa
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
    
      - name: Copy to deploy directory
        run: cp ./ ../../../../fernuni-bot/ -Rf
        
      - name: Update Pip requirements
        run: ../../../../fernuni-bot/venv/bin/python -m pip install -r ../../../../fernuni-bot/requirements.txt
      
      - name: Restart Boty-QA
        run: sudo systemctl restart boty-qa
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- name: Check Git
      #  run: git status

      # Runs a single command using the runners shell
      # - name: Run a one-line script
      #   run: echo Hello, world!

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #  run: |
      #    echo Add other actions to build,
      #    echo test, and deploy your project.
      
